defmodule <%= mod_name %> do
  use Protobuf.Service

<%= Enum.map methods, fn {method, nil, docs} -> %>
  <%= if docs, do: docs, else: "" %>rpc <%= method %>
<% {method, {type, path}, docs} -> %>
  <%= if docs, do: docs, else: "" %>rpc <%= method %>, <%= type %>: "<%= path %>"
<% end %>
end
